.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 12px 120px;
  border-bottom: 1px #3a35411f solid;
  transition: 0.3s;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 0;
  right: 0;
  top: 0;
}

.container a {
  text-decoration: none;
}

ul li {
  list-style: none;
  width: 64px;
  height: 22px;
}

.logo {
  width: 193px;
  margin-left: 22px;
}

.profile {
  width: 35px;
  border-radius: 10px;
}

.profile:hover {
  transform: scale(0.98);
  transition: 0.3s;
}

.prof {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dmsans {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
  opacity: 68%;
}

.navbar .dmsans {
  display: flex;
}

.revolusi {
  display: flex;
  flex-direction: column;
  padding: 82px 130px 64px;
  justify-content: center;
  align-items: center;
}

.isian {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/subtop.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px 140px;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 920px;
}

.sub1 {
  font-family: poppins;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0%;
  line-height: 110%;
  margin-bottom: 10px;
}

.isian .dmsans {
  color: #ffffff;
  opacity: 100%;
}

.section {
  background-color: #fffdf3;
  justify-content: center;
  align-items: center;
}

.button1 {
  border: none;
  padding: 10px 26px;
  gap: 8px;
  background-color: #3ecf4c;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;

  transition: 0.3s;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 20px;
}

.button1:hover {
  background-color: #38b444;
}

.koleksi {
  padding: 0px 130px;
  gap: 10px;
}

.sub2 {
  font-family: poppins;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0%;
  line-height: 110%;
  margin-bottom: 0px;
}

.tab {
  display: flex;
  gap: 40px;
  margin-top: 55px;
}

.dmsanscustom {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #f64920;
  opacity: 100%;
  /* width: 52px;
  height: 6px;
  background-color: #f64920;
  color: #f64920;
  justify-content: center;
  align-items: center; */
}

.rectang {
  width: 52px;
  height: 6px;
  background-color: #f64920;
  color: #f64920;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.product {
  display: flex;
  flex-direction: column;
}

.prod-line {
  display: flex;
  gap: 21px;
  padding: 0px 130px;
  margin-top: 30px;
}

.pline1 {
  display: flex;
  flex-direction: column;
  border: #3a35411f 1px solid;
  border-radius: 10px;
  width: 344px;
  gap: 16px;
  padding: 20px;
  background-color: #ffffff;
}

.pline1-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imgpro {
  border-radius: 10px;
  align-items: center;
  width: 344px;
  height: 193px;
  object-fit: cover;
}

.imgpro:hover {
  transform: scale(0.98);
  transition: 0.3s;
  filter: brightness(50%);
}

.sub3 {
  font-family: POPPINS;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222325;
}

.dmsansprod {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
  opacity: 68%;
  height: 44px;
  width: 344px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  display: -webkit-box; /* Mengaktifkan flexbox untuk webkit */
  -webkit-box-orient: vertical; /* Mengatur orientasi kotak secara vertikal */
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.avaprofile {
  display: flex;
}

.ava {
  width: 40px;
  border-radius: 10px;
}

.avadetail {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}

.name {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.job {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333;
  opacity: 68%;
}

.ratingprice {
  display: flex;
  justify-content: space-between;
}

.starfull {
  color: #fce91b;
  font-size: 40px;
}

.starhalffull {
  color: #fce91b;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  font-size: 40px;
}

.starhalfzero {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #3a35411f;
}

.starzero {
  color: #3a35411f;
  font-size: 40px;
}

.star {
  color: #fce91b;
}

.starrate {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.rating {
  color: #333333;
  opacity: 68%;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.price {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3ecf4c;
}

.revolusi2 {
  padding: 82px 130px 64px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px #3a35411f solid;
}

.isian2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/bottom.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px 140px;
  color: white;
  text-align: center;
  width: 920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub4news {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #c1c2c4;
  padding-top: 55px;
}

.sub4 {
  padding-top: 10px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #ffffff;
}

.isian2 .dmsans {
  padding-top: 10px;
  color: #f4f5fa;
  font-weight: 400;
  width: 525px;
  opacity: 100%;
  padding-bottom: 50px;
}

.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 8px 8px 8px 32px;
  width: 485px;
  margin-bottom: 55px;
}

.subscribe-input {
  flex: 1;
  border: none;
  outline: none;

  color: #222325;
  opacity: 100%;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.subscribe-input::placeholder {
  color: #333333;
  opacity: 68%;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.subscribe-button {
  width: 132px;
  height: 42px;
  background-color: #ffbd3a;
  border: none;
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.subscribe-button:hover {
  background-color: rgb(172, 116, 42);
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 60px 120px;
  gap: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo-bottom {
  width: 193px;
}

.gali {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.footer-top-1 {
  display: flex;
  flex-direction: column;
  width: 354px;
  gap: 12px;
}

.address {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.footer-top-2 {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer-top-2-1 {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer-top-2-sub {
  color: #222325;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.border-bottom {
  border-bottom: 1px #3a35411f solid;
  padding-top: 32px;
}

.copyright-medsos {
  display: flex;
  justify-content: space-between;
}

.medsos-container {
  display: flex;
  gap: 15px;
}

.medsos {
  width: 35px;
  height: 35px;
}

.sublogin1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #222325;
}

.sectionlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 120px;
  gap: 36px;
  background-color: #fffdf3;
}

.login {
  display: flex;
  width: 590px;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
  padding: 36px;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.sublogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.login2 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.login3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.login4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.login5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.email {
  width: 518px;
  height: 48px;

  border-radius: 6px;
  border: 1px solid #f1f1f1;
  align-items: center;
  justify-content: center;
}

.inputemail {
  width: 498px;
  height: 40px;
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.inputpass {
  width: 450px;
  height: 40px;
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.eyeico {
  height: 24px;
  opacity: 40%;
  cursor: pointer;
  position: absolute;
  padding: 13px;
}

.emailpasstext {
  font-family: DM sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4a505c;
  align-items: center;
  justify-content: center;
}

.required {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #d32e1f;
}

.forgot {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4a505c;
}

.forgot1 {
  text-align: right;
}

.masuk-daftar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 518px;
}

.tombollogin {
  width: 518px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background-color: #3ecf4c;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.tombollogin:hover {
  background-color: rgb(39, 165, 56);
}

.tomboldaftar {
  width: 518px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background-color: #e2fcd9cc;
  cursor: pointer;
  transition: 0.3s;
  color: #3ecf4c;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.tomboldaftar:hover {
  background-color: #e2e5df;
}

.garisatau {
  width: 518px;
  height: 2px;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.textatau {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4a505c;
  position: absolute;
  background-color: #ffffffff;
  width: 50px;
  text-align: center;
}

.pemisah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tombolgoogle {
  width: 518px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.3s;
  color: #4a505c;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.tombolgoogle:hover {
  background-color: #dcdfda;
}

.googleico {
  height: 22px;
}

.address {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .subscribe-button-mobile {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body {
    width: 410px;
  }

  .header {
    padding: 16px 5px;
    height: 40px;
  }

  .logo {
    width: 150px;
    left: 3.25px;
  }
  .menu {
    width: 20px;
  }

  .navbar .dmsans {
    display: none;
  }
  .prof .profile {
    display: none;
  }
  .menu {
    margin-right: 22px;
  }
  .test {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .revolusi {
    padding: 30px 20px 5px 20px;
  }

  .isian {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 20px 20px;
    width: 320px;
    height: 370px;
  }

  .sub1 {
    font-size: 24px;
    width: 280px;
  }

  .dmsans {
    font-size: 14px;
  }

  .revolusi .dmsans {
    width: 280px;
  }
  .button1 {
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    width: 280px;
  }

  .koleksi {
    padding: 15px 20px 5px 20px;
  }

  .sub2 {
    font-size: 24px;
    width: 320px;
  }

  .koleksi .dmsans {
    width: 320px;
    font-size: 14px;
  }
  .tab {
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .dmsanscustom {
    font-size: 14px;
    white-space: nowrap;
  }

  .tab .dmsans {
    white-space: nowrap;
  }

  .prod-line {
    margin-top: 5px;
    flex-direction: column;
    padding: 15px 20px 5px 20px;
  }

  .pline1 {
    width: 320px;
  }
  .imgpro {
    width: 82px;
    height: 82px;
  }
  .dmsansprod {
    display: none;
  }

  .revolusi2 {
    padding: 15px 20px 25px 20px;
  }

  .isian2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 20px 20px;
    width: 320px;
    height: 370px;
  }
  .sub4news {
    font-size: 16px;
    width: 280px;
    padding: 5px 20px 5px 20px;
  }

  .sub4 {
    font-size: 24px;
    width: 280px;
    padding: 15px 20px 0px 20px;
  }

  .isian2 .dmsans {
    width: 275px;
    padding: 5px 20px 50px 20px;
  }

  .subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .subscribe-input {
    width: 250px;
    text-align: center;
  }

  .subscribe-button {
    display: none;
  }

  .subscribe-button-mobile {
    width: 280px;
    height: 40px;
    background-color: #ffbd3a;
    border: none;
    color: #ffffff;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  .subscribe-button-mobile:hover {
    background-color: rgb(172, 116, 42);
  }

  .footer-container {
    padding: 30px 20px 300px 20px;
    gap: 10px;
  }
  .logo-bottom {
    width: 150px;
    left: 3.25px;
  }
  .footer-top {
    flex-direction: column;
  }
  .gali {
    font-size: 14px;
    width: 280px;
  }

  .address {
    font-size: 14px;
    width: 280px;
  }

  .footer-top-2 {
    flex-direction: column;
    gap: 10px;
  }
  .footer-top-2-1 {
    font-size: 16px;
  }

  .footer-top-2-1 .dmsans {
    display: none;
  }
  .footer-top-2 {
    margin-top: 15px;
  }
  .border-bottom {
    padding-top: 5px;
  }
  .copyright-medsos {
    margin-top: 10px;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .login {
    width: 320px;
    padding: 30px 20px;
  }
  .sectionlogin {
    padding-top: 28px;
  }
  .sublogin1 {
    font-size: 24px;
  }
  .sublogin .dmsans {
    font-size: 14px;
  }
  .login2 {
    gap: 20px;
  }
  .email {
    width: 280px;
    height: 48px;
  }
  .inputemail {
    width: 260px;
  }
  .emailpasstext {
    font-size: 14px;
  }
  .inputpass {
    width: 210px;
  }
  .forgot {
    font-size: 14px;
  }
  .tombollogin {
    width: 280px;
    height: 34px;
  }
  .tomboldaftar {
    width: 280px;
    height: 34px;
  }
  .tombolgoogle {
    width: 280px;
    height: 34px;
    margin-bottom: 300px;
  }
  .garisatau {
    width: 280px;
  }
}
